@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">

    <div id="view1" class="view mb-4">
@Html.AntiForgeryToken()

       <form id="dynamicForm" method="post" action="/DataGeneration/submitDynamicForm">
        <div class="container-inside">
           
           <div class="wrap">
               <h2>Add Fields</h2>
               <button class="addButton btn btn-primary"> + </button>
           </div>

        <div class="form-group col-md-12">
       <div class="col-md-2">
        <label> FieldName </label>
        <input class="form-control" type="text" name="FieldName"  value=""/>
        </div>  
        
        <div class="col-md-2">
            <label> DataType</label>
            <select class="dataTypeDropdown form-select form-select-md" id="dataTypeDropdownValue" name="DataType">

            </select>
        </div>
            
        <div class="col-md-2">
            <label>Field Description</label>
            <input class="form-control col-md-3" type="text" name="FieldDescription" value=""/>
        </div>
        <div class="rmvbtnwrap">
        <button class="removeButton btn btn-primary" style="display:none;"> X </button>
        </div>
        
        </div>
        
        </div>
        <div class="sbtwrap">
         <button class="btn btn-success sbtBtn" type="submit">Submit</button>
         </div>
        </form>
        </div>

        <div id="view2" class="view" style="display:none;">
             <div id="chatReply">

            </div>
    <form method="post" enctype="multipart/form-data" action="/DataGeneration/chat">

        <input type="text" id="chat" name="chat" required/>

        <button type="submit" id="submitChat">Submit</button>
    </form>

        </div>

        <div id="view3" class="view" style="display:none;">
             <form method="post" enctype="multipart/form-data" action="/DataGeneration/upload">
        <label for="File">Select a SQL File:</label>
        <input type="file" id="sqlFile" name="sqlFile" accept=".sql" required/>

        <button type="submit">Upload</button>
            </form>
        </div>
</div>
