body {
    
    background: rgb(24,46,14);
    background: linear-gradient(90deg, rgba(24,46,14,1) 0%, rgba(27,83,19,1) 35%, rgba(30,93,24,1) 100%);
}

.view {
    background: rgb(24,46,14);
    background: linear-gradient(90deg, rgba(24,46,14,1) 0%, rgba(27,83,19,1) 35%, rgba(30,93,24,1) 100%);
    height: auto !important;
}

.btn-success{
    margin-bottom: 10px;
}

.view2{
    margin-left: 10px;
}

#submitChats{
    margin-top: 10px !important;
}

#uploadSql{
    margin-top: 10px;
}

.text-input{
    margin-left: 10px;
}

.sqlUploads{
    margin-left: 10px;
}

.card {
    z-index: 5px;
}

#dynamicForm{
    margin-left: 10px;
}

label {
    color: white;
}

.form-group{
    display: flex !important;
    gap: 10px !important;
}

.view h2{
    color : white !important;
    opacity:0.75;
}

.topnav{
    overflow : hidden;
    background-color : rgb(24,46,14);
}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover ,.topnav a.active{
    background-color: lightgreen;
    color: black;
}

.view{
    display:none;
}

#view1{
    display: block; 
}

.sbtBtn{
    margin-top : 5px !important;
}

