body {
    
    background: rgb(24,46,14);
    background: linear-gradient(90deg, rgba(24,46,14,1) 0%, rgba(27,83,19,1) 35%, rgba(30,93,24,1) 100%);
    
}

label{
    color : white;
}

.form-group{
    display: inline-block;
}

h2{
    color : white;
}

.topnav{
    overflow : hidden;
    background-color : rgb(24,46,14);
}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover ,.topnav a.active{
    background-color: lightgreen;
    color: black;
}

.view{
    display:none;
}

#view1{
    display: block; 
}

